node_modules/
.DS_Store
*.log
.env
.vscode/
Untitled*.ipynb
untitled.txt
file.txt
files.txt
package-lock.json
AppData/
anaconda3/
OneDrive/
NTUSER.DAT*
*.TxR*
*.blf
*.regtrans-ms
.anaconda/
.cache/
.codex/
.conda/
.continuum/
.copilot/
.eclipse/
.ghcp-appmod/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.matplotlib/
.node_repl_history
.p2/
.packettracer
.spyder-py3/
.virtual_documents/
